* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(106, 137, 167);
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 100%;
}

h3 {
    margin-top: 20px;
}

nav {
    margin-top: 5px;
    background-color: rgb(97, 123, 149);
    border-radius: 100vw;
    border: 1px solid black;
    text-align: center;
}

a {
    font-weight: bold;
    margin: 10px;
}

.centered {
    text-align: center;
}

.form-container {
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid;
    border-radius: 10px;
    background-color: lightblue;
}

.form-group
{
    margin-top: 15px;
}